@model  HRMS.ViewModel.ForgotPasswordViewModel

<head>
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class="row mt-4">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn" id="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">

    </div>
</div>
