@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li class="nav-item">
     <a class="nav-link text-dark" asp-area="" asp-action="Account"  asp-controller="logout">UserLogout</a>
</li>
<li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-action="LogIn"  asp-controller="Account">UserLogin</a>

                            
                        
       <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">UserRegister</a>
  </li>